
hr {
  margin: 1rem 4rem !important;
  color: yellow !important;
  height: 2px !important;
  opacity: 1 !important;
  padding-left: 2rem;
}

hr.fitness {
  margin-right: -2rem !important;
  margin-left: 20rem;
}

section ul li {
  font-size: var(--big-fz);
  color: var(--main-color);
  margin-left: 2rem;
  border: 3px solid  rgba(4, 14, 152, 0.947);
  border-radius: 1rem;
  padding: .5rem;
  height: fit-content;
  background: linear-gradient(135deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border:  2px solid rgba(233, 233, 241, 0.069);
  box-shadow: 0 8px 32px 0 rgba (0, 0, 0, .8);
  text-align: center;
}


.services .services-img img {
  max-width: 96%;
  margin: 0 auto;
  border-radius: 1rem;
}



ul.strong {
  display: flex;
  margin-top: 1rem;
  margin-left: -1.5rem !important;
  line-height: 2.5rem;
}

ul.strong img {
  max-width: 30rem;
  margin-right: 1rem !important;
}

ul.fit {
  display: flex;
  max-width: 80rem;
  margin-top: 2rem;
  line-height: 2.5rem;
  margin-right: -2rem;
}
ul.fit li{
  margin-left: 3rem !important;
  max-width: 32rem;
}

ul.fit img {
  max-width: 38rem;
  margin-top: -18rem;
  margin-left: 1rem;
}

ul.build {
  display: flex;
  max-width: 80rem;
  margin-top: 2rem;
  line-height: 2.5rem;
}

.build-img {
  max-height: 61rem;
  margin-left: -21rem;
  margin-top: 5rem;
}

ul.grow {
  flex-direction: row-reverse;
  max-width: 80rem;
  margin-top: -4rem;
  margin-right: -2rem;
  line-height: 2.5rem;
  display: flex;
  margin-bottom: 2rem;
}
ul.grow li {
  margin-left: -10rem !important;
}

ul.grow img.grow {
  max-width: 26rem;
  max-height: 30rem;
  margin-top: -28rem;
  margin-left: -50rem;
  position: absolute;
  z-index: 1;
}

img.lower {
  max-height: 25rem;
  margin-top: -27rem;
  margin-right: -36rem;
}

ul.upperFit {
  display: flex;
  margin-top: 2rem;
  line-height: 2.5rem;
  margin-right: 29rem;
}

img.man {
  max-height: 27rem;
  margin-top: 8rem;
  margin-left: -44rem;
  position: absolute;
}

img.girl {
  position: absolute;
  margin-top: -29rem;
  max-height: 22rem;
  margin-left: 40rem;
}

ul.flexBody {
  display: flex;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  width: 80rem;
}

li.flexBodyLi {
  max-width: 40rem;
  margin-top: 23rem;
  margin-left: 53rem !important;
}

ul.flexBody img {
  max-width: 38rem;
  margin-top: -2rem;
  margin-left: 39rem;
  position: absolute;
}

.fitness-container {
  margin-top: 0rem;
  border-radius: 1rem;
  margin-left: -1rem;
  max-width: 78rem;
  padding: 1rem 1rem 1rem 0;
}

.btn-fitness {
  position: relative;
  margin-left: 31rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  border-radius: .5rem;
  cursor: pointer;
  background-color:  rgb(4, 52, 119);
  z-index: 1;
}

.a-fitness {
  text-decoration: none;
  color: var(--text-color)!important;
}

.btn-fitness:hover {
  box-shadow: 0 .3rem .8rem yellow;
  color: var(--text-color);
}

@media screen and (max-width: 1440px) {
  hr.fitness {
    margin-left: 4rem !important;
    margin-right: -8rem !important;
  }
  ul.fit img {
    margin-top: -18rem;
    margin-left: -46rem;  
  }
  ul.fit {
    margin-left: 48rem;
  }
  ul.fit li{
    margin-top: 0rem;
    font-size: 2.4rem;
    margin-left: 18rem;
    margin-right: -6rem;
  }
  ul.strong img {
    margin-right: -6rem !important;
  }
  div.lower{
    display: flex;
    width: 30rem; 
    margin-top: -20rem;
    margin-left: 20rem;
    position: relative;
  }
  img.lower {
    max-height: 25rem;
    margin-top: -6rem;
    margin-left: 38rem;
    position: absolute;
  }
  ul.grow li {
    margin-left: -12rem !important;
  }
}

@media screen and (max-width: 1366px) {
  hr.fitness {
  margin-right: -1rem !important;
  margin-left: 20rem;
}
ul.fit img {
    margin-top: -18rem;
    margin-left: -37rem;  
  }
  ul.fit {
    margin-left: 40rem;
  }
  ul.fit li{
    margin-right: -6rem;
  }
  ul.strong img {
    margin-right: 1rem !important;
  }
  div.lower{
    display: flex;
    width: 30rem;
    margin-top: -20rem;
    margin-left: 20rem;
    position: relative;
  }
  img.lower {
    max-height: 25rem;
    margin-top: -6rem;
    margin-left: 34rem;
    position: absolute;
  }
  
}
@media screen and (max-width: 1321px) {
  section ul li {
    margin-left: 1rem !important;
  }
  /* hr.fitness {
    margin-right: 0 !important;
  }
  hr {
    margin: 1rem -1rem !important;
  } */
  ul.fit {
    margin-right: -1rem;
  }
  ul.grow {
    margin-right: -1rem;
  }
  ul.grow li {
    margin-left: -10rem !important;
  }
  ul.strong {
    margin-left: -.5rem !important;
  }
  ul.strong img {
    margin-right: 1rem;
  }
  .build-img {
    max-height: 59rem;
    margin-left: -19rem;
  }
  div.lower{
    display: flex;
    width: 30rem; 
    margin-top: -20rem;
    margin-left: 20rem;
    position: relative;
  }
  img.lower {
    max-height: 25rem;
    margin-top: -6rem;
    margin-left: 34rem;
    position: absolute;
  }
}

@media screen and (max-width: 1024px) {
  hr.fitness {
    margin-left: 3rem !important;
    margin-right: 1rem !important;
  }
  ul.strong li{
    margin-top: 0rem;
    margin-left: .75rem;
  }
  ul.strong img {
    margin-top: 0rem;
    max-width: 24rem;
    margin-right: 1.5rem; 
  }
  ul.fit {
    margin-left: -14rem;
  }
  ul.fit img {
    margin-top: -14rem;
    max-width: 28rem;
    margin-left: 15.25rem;  
  }
  ul.fit li{
    margin-top: -1rem;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-right: -30rem;
    max-width: 25rem;
  }

  ul.build img {
    margin-left: -17rem;
    max-height: 51rem !important;
  }
  ul.grow img.grow {
    margin-top: -24rem;
    max-width: 21rem;
    margin-left: -42rem;
  }
  ul.grow img.lower {
    margin-top: -3rem;
    max-height: 21rem;
    margin-left: 21rem;
  }
  ul.grow {
    margin-left: -21rem;
  }
  ul.grow li {
    margin-top: -1rem;
    margin-left: -21rem !important;
  } 
  ul.upperFit {
    margin-right: 26rem;
  }
  img.man {
    margin-left: -31rem;
  }
  img.girl {
    max-width: 31rem;
    margin-top: -25rem;
    margin-left: 27rem;
  }
  ul.upperFit li {
    font-size: 2rem;
  }
  ul.upperFit img.man {
    margin-top: 7rem;
    max-height: 25rem;
  }
  ul.flexBody {
    width: 60rem;
  }
  li.flexBodyLi {
    margin-left: 38rem !important;
    margin-top: 20rem;
  }
  .btn-fitness {
    margin-left: 22rem;
  }
}

@media screen and (max-width: 768px) {
  hr.fitness {
    margin-right: -3rem !important;
  }
  ul.strong li {
    margin-top: 0;
    margin-left: .75rem;
    max-width: 50rem !important;
  }
  ul.strong img {
    max-width: 26rem;
    margin-top: 1rem;
    margin-left: 9rem;
  }
  ul.fit li {
    margin-left: 19rem !important;
  }
  ul.fit img {
    margin-left: 16rem;
    max-width: 32rem;
    margin-top: -18rem;
  }
  ul.grow {
    margin-left: -3rem;
  }
  ul.grow img.grow {
    max-width: 26rem;
    margin-top: -29rem;
    margin-left: -51rem;
  }

  ul.build img {
    margin-left: -14rem;
  }

  ul.grow img.lower {
    max-height: 28rem;
    margin-top: -9rem;
    margin-left: 12rem;
  }
  ul.grow li {
    margin-top: 0rem;
    margin-right: -3rem;
  }
  img.man {
    margin-left: -46rem;
  }
  img.girl {
    max-width: 35rem;
    margin-top: -27rem;
    margin-left: 39rem;
  }
  ul.flexBody {
    width: 80rem;
  }
  li.flexBodyLi {
    margin-left: 60rem !important;
  }
  .btn-fitness {
    margin-left: 30rem;
  }
}

@media screen and (max-width: 425px) {
  ul.build img {
    margin-left: -12rem;
  }
  ul.grow img.grow {
    max-width: 27rem;
    margin-left: -51rem;
    margin-top: -32rem;
  }
  ul.upperFit img.man {
    margin-top: 7rem;
    max-height: 27rem;
  }
  li.flexBodyLi {
    margin-left: 63rem !important;
  }
  ul.strong img {
    margin-left: 16rem;
  }
  ul.grow img.lower {
    margin-left: 8rem;
  }
  img.man {
    max-width: 25rem;
  }
}

@media screen and (max-width: 390px) {
  section ul li {
    font-size: var(--smoll-fz);
  }
      hr.fitness {
        margin-right: -1rem !important;
    }
  .services .services-img img {
    max-width: 37rem;
  }
  .fitness-container {
    max-width: 40rem;
    margin-left: -1rem;
    margin-top: 0rem;
  }
  ul.strong {
    margin-top: 1rem;
    line-height: 1.25rem;
    margin-left: 1rem;
  }
  ul.strong li {
    max-width: 46rem !important;
    margin-top: -1rem;
    margin-left: 2.25rem;
  }
  ul.strong img {
    max-width: 12rem;
    margin-left: -6rem;
    margin-top: 3rem;
    max-width: 16rem;
  }
  ul.fit li{
    margin-left: 0rem !important;
    line-height: 1.25rem;
    font-size: 1.2rem;
    max-width: 15rem;
    margin-top: -1rem;
    margin-bottom: 0rem;
  }
  ul.fit img {
    max-width: 22rem;
    margin-top: -13rem;
    margin-left: 15rem;
  }
  ul.build {
    margin-top: 1rem;
  }
  ul.build li{
    margin-left: 1rem;
  }
  ul.build img {
    margin-left: -11rem;
    max-height: 34rem !important;
    margin-top: 5rem;
  }
  ul.grow {
    max-width: 50rem;
    margin-left: -12rem;
  }
  ul.grow img.grow {
    max-width: 15rem;
    margin-top: -16rem;
    margin-left: -24rem;
  }
  ul.grow img.lower {
    max-height: 15rem;
    margin-top: 5rem;
    margin-left: 18rem;
  }
  ul.upperFit {
      margin-right: 37rem;
  }
  ul.upperFit li {
    margin-right: -34rem;
    margin-left: -10rem;
    font-size: 1.2rem;
  }
  ul.grow li {
    margin-top: 1rem;
    margin-right: -2rem;
  }
  ul.upperFit img.man {
    height: 18rem;
    max-width: 20rem !important;
    margin-top: 4rem;
    margin-left: 2rem;
  }
  img.girl {
    max-width: 20rem;
    margin-top: -18rem;
    margin-left: 19rem;
  }
  ul.flexBody {
    max-width: 41rem !important;
  }
  li.flexBodyLi {
    margin-left: 25rem !important;
    margin-top: 13rem;
  }
  .btn-fitness {
    margin-left: 12rem;
  }
}

@media screen and (max-width: 320px) {
  ul.upperFit img.man {
    min-height: 16rem;
    min-width: 16rem;
  }   
  ul.grow img.lower {
    min-height: 16rem;
    min-width: 11rem;
    margin-left: 16rem;
    margin-top: 4rem;
  }
  ul.grow img.grow {
    max-width: 16rem;
    margin-top: -16rem;
    margin-left: -25rem;
  }
}